.page {
    width: 100%;
    box-sizing: border-box;
}

.page__header {
    display: flex;
    flex-direction: column;
}

.page__header-name {
    font-size: 3rem;
    text-align: center;
}

.page__header-input {
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.page__footer {
    width: auto;
    margin: 0 auto;
    padding: 1rem 3rem;
    opacity: 0.5;
}

.page__footer a {
    text-decoration: none;
}

@media screen and (min-width:1025px){
    .page__header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .page__header-name {
        text-align: left;
    }

}