@keyframes updatedUp {
    from {background-color: rgba(103, 178, 67, 0.7);}
    to {background-color: transparent;}
}

@keyframes updatedDown {
    from {background-color: rgba(178, 67, 67, 0.7);}
    to {background-color: transparent;}
}


